<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post List</title>
    </head>
    <body>
        <!-- template engine logic goes here -->
        <ul>
            <li id="title">This is a title</li>
            <li id="author">An author</li>
            <li id="content">
                Some content goes here, so lazy to write all those ipsum lorems
            </li>
        </ul>
    </body>
</html>
