<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Write</title>
    </head>
    <body>
        <form action="#" method="post">
            <input type="text" name="title" placeholder="write a title here" />
            <input type="text" name="author" placeholder="author name" />
            <textarea
                name="content"
                id=""
                cols="30"
                rows="10"
                placeholder="type some shit"
            ></textarea>
            <button>Post</button>
        </form>
    </body>
</html>
